body{
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

table{

}

table tbody tr td{
    background-color: #151515;
    width: 100px;
    height: 100px;
    display: inline-flex;
    margin-right: 2px;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: black;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
    -moz-box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
    box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
}

#reset{
    margin: 25px auto 0px auto;
    width: 100%;
    background-color: #151515;
    color: white;
    font-size: 2em;
    border-radius: 15%;
    padding: 10px 40px;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
    -moz-box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
    box-shadow: 10px 10px 17px -1px rgba(106,145,176,1);
}

h1{
    font-family: 'Oswald', sans-serif;
    color: white;
}